@use '../abstracts/colors';

// Yellow buttons
.btn-yellow {
    background-color: colors.$yellowBtn;
    border: none;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    &:hover  {
        background-color: colors.$hoverBtn;
    }
    &:active {
        background-color: colors.$activeBtn;
    }
}
.btn-yellow-choice {
    @extend .btn-yellow;
    height: 50px;
    width: 223px;
}
.btn-yellow-submit {
    @extend .btn-yellow;
    height: 62px;
    width: 182px;
}
// Carousel slider buttons
.btn-arrow {
    width: 18px;
    height: 18px;
    background-color: transparent; 
    transition: 0.3s;
    border-style: solid;
    border-width: 2px 2px 0 0;
    &:hover {
        opacity: 0.3;
    }
}
.btn-arrow-right {
    @extend .btn-arrow;
    border-color: colors.$bluePane;
    transform: rotateY(0deg) rotate(45deg);
}
.btn-arrow-left {
    @extend .btn-arrow;
    border-color: colors.$bluePane;
    opacity: 0.5;
    transform: rotateY(0deg) rotate(-135deg);
}