@use "../abstracts/colors";
@use "../abstracts/mixins";

.video-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -5em;
  display: flex;
  justify-self: center;
  align-items: center;
  iframe {
    height: 50em;
    width: 100%;
    display: none;
  }
  img {
    height: auto;
    width: 100%;
  }
}
.play-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  background-color: colors.$yellowBtn;
  display: block;
  width: 86px;
  height: 83px;
  padding-top: 8px;
  line-height: 83px;
  border-radius: 50%;
  color: colors.$whitePanel;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 10px colors.$bluePane;
    text-shadow: 0px 0px 10px colors.$whitePanel;
    color: colors.$whitePanel;
  }
}
// Media for video
@include mixins.mob {
  .video-wrapper {
      margin-top: -2em;
  }
}
