@use '../abstracts/colors';
@use '../abstracts/mixins';

// Caption quote section
.caption-container {
    margin-bottom: 0;
    background-size: cover;
    background-position: left 70% center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    .gradient {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        // position: absolute;
        z-index: 1;
    }
    .picture-quote-wrapper {
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 5;
        bottom: 12%;
        padding-left: 17%;
        padding-right: 17%;
        h3 {
            line-height: 1.6675em;
        }
    }
}
.quote-border-top {
    position: absolute;
    width: 100%;
}
.quote-border-bottom {
    width: 100%;
    position: absolute;
    margin-top: -3%;
}
// Section for feedback text
.feedback-juris-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.375em;
    margin-bottom: 9.375em;
    .feedback-juris {
        margin-left: 28%;
        margin-right: 28%;
        .feedback-text {
            margin-top: 1.2em;
            line-height: 1.2em;
        }
    }
    .quote-button-wrapper {
        display: flex;
        column-gap: 2em;
        margin-top: 2em;
    }
}
// Media for idea page
@include mixins.tab {
    .feedback-juris-wrapper {
        .feedback-juris {
            margin-left: 15%;
            margin-right: 15%;
        }
    }
}
@include mixins.mob-large {
    .caption-container {
        height: 35em;
        .picture-quote-wrapper {
            bottom: 6%;
            padding-left: 7%;
            padding-right: 7%;
        }
    }
    .feedback-juris-wrapper {
        margin-top: 7.5em;
        margin-bottom: 7.5em;
        .feedback-juris {
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}