@use '../abstracts/colors';
@use '../abstracts/mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@400;500&display=swap');

$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;

$font48--size: 3rem;
$font36--size: 2.25rem;
$font30--size: 1.875rem;
$font24--size: 1.5rem;
$font18--size: 1.125rem;
$font16--size: 1rem;
$font14--size: 0.875rem;
$font12--size: 0.75rem;
$font11--size: 0.688rem;

$font-normal--weight: 500;
$font-light--weight: 400;
$font-bold--weight: 700;

// Oswald fonts
.f1-oswald-medium {font-family: $oswald; font-size: $font48--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f2-oswald-medium {font-family: $oswald; font-size: $font30--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f3-oswald-medium {font-family: $oswald; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f-oswald-supporters {font-family: $oswald; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f-oswald-picture-quote {font-family: $oswald; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-oswald-card-number {font-family: $oswald; font-size: $font36--size; font-weight: $font-bold--weight; color: colors.$whitePanel}
.f-oswald-tba-text {font-family: $oswald; font-size: $font18--size; font-weight: $font-bold--weight; color: colors.$whitePanel}
.f-oswald-alt-text {font-family: $oswald; font-size: $font24--size; font-weight: $font-bold--weight; color: colors.$whitePanel}
.f-oswald-team-card-name {font-family: $oswald; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-oswald-video-alttext {font-family: $oswald; font-size: $font36--size; font-weight: $font-normal--weight; color: colors.$whitePanel}

// Montserrat fonts
.f-mont-nav {font-family: $montserrat; font-size: $font18--size; font-weight: $font-normal--weight; color: colors.$blackText}
.f-mont-paragraph {font-family: $montserrat; font-size: $font18--size; font-weight: $font-light--weight; color: colors.$bluePane}
.f-mont-form-input {font-family: $montserrat; font-size: $font18--size; font-weight: $font-light--weight; color: colors.$bluePane}
.f-mont-tos {font-family: $montserrat; font-size: $font14--size; font-weight: $font-light--weight; color: colors.$bluePane}
.f-mont-submit {font-family: $montserrat; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-mont-supporters-select {font-family: $montserrat; font-size: $font18--size; font-weight: $font-light--weight; color: colors.$bluePane}
.f-mont-choice-btn {font-family: $montserrat; font-size: $font18--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-mont-quote-italic {font-family: $montserrat; font-size: $font24--size; font-weight: $font-light--weight; color: colors.$bluePane; font-style: italic;}
.f-mont-blue24-normal {font-family: $montserrat; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f-mont-blue24-mission {font-family: $montserrat; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f-mont-blue24-dream-selection {font-family: $montserrat; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f-mont-white14 {font-family: $montserrat; font-size: $font14--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-mont-white18 {font-family: $montserrat; font-size: $font18--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-mont-white18-bold {font-family: $montserrat; font-size: $font18--size; font-weight: $font-bold--weight; color: colors.$whitePanel}
.f-mont-dropdown-first {font-family: $montserrat; font-size: $font18--size; font-weight: $font-bold--weight; color: colors.$bluePane}
.f-mont-white24 {font-family: $montserrat; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$whitePanel}
.f-mont-yellow-success-large {font-family: $montserrat; font-size: $font24--size; font-weight: $font-normal--weight; color: colors.$yellowBtn}
.f-mont-yellow-success-small {font-family: $montserrat; font-size: $font18--size; font-weight: $font-normal--weight; color: colors.$yellowBtn}
.f-mont-blue18-team {font-family: $montserrat; font-size: $font18--size; font-weight: $font-normal--weight; color: colors.$bluePane}
.f-mont-white18-team-desc {font-family: $montserrat; font-size: $font18--size; font-weight: $font-normal--weight; color: colors.$whitePanel}

// Largest tablet size
@include mixins.tab {
    .f-mont-white14 {
        font-size: $font16--size;
    }
    .f-mont-blue24-dream-selection {
        font-size: $font18--size;
    }
}
// Largest phone size
@include mixins.mob-large {
    .f-oswald-video-alttext {
        font-size: $font24--size;
    }
    .f-mont-white18-team-desc {
        font-size: $font14--size;
    }
    .f-oswald-team-card-name {
        font-size: $font18--size;
    }
    .f-mont-blue18-team {
        font-size: $font14--size;
    }
    .f-oswald-tba-text {
        font-size: $font14--size;
    }
    .f-mont-supporters-select {
        font-size: $font14--size;
    }
    .f-mont-dropdown-first {
        font-size: $font14--size;
    }
    .f-mont-blue24-mission {
        font-size: $font18--size;  
    }
    .f-mont-yellow-success-large {
        font-size: $font18--size;
    }
    .f-mont-yellow-success-small {
        font-size: $font14--size;
    }
    .f-mont-white24 {
        font-size: $font18--size;
    }
    .f-mont-blue24-normal {
        font-size: $font14--size;
    }
    .f-mont-white18 {
        font-size: $font12--size;
    }
    .f-mont-white18-bold {
        font-size: $font12--size;
    }
    .f-mont-white14 {
        font-size: $font11--size;
    }
    .f-mont-paragraph {
        font-size: $font12--size;
    }
    .f-mont-quote-italic {
        font-size: $font12--size;
    }
    .f-mont-tos {
        font-size: $font12--size;
    }
    .f-mont-submit {
        font-size: $font18--size;
    }
    .f1-oswald-medium {
        font-size: $font36--size;
    }
    .f2-oswald-medium {
        font-size: $font24--size;
    }
    .f-oswald-picture-quote {
        font-size: $font18--size;
    }
}



