$yellowBtn: #FFA800;
$yellowPane: #FFCB66;
$bluePane: #2F4858;
$blackText: #000000;
$whitePanel: #FFFFFF;
$smokeWhite: #F5F5F5;

$hoverBtn: #ffda16;
$activeBtn: #ff8a00;

$form: #e7e7e7;

$dropDown: #C4C4C4;


