@use '../abstracts/colors';
@use '../abstracts/mixins';

nav {
    background-color: colors.$whitePanel;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    .nav-brand {
        margin-left: 3em;
    }
    .nav-links {
        margin-right: 3em;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            a {
                text-decoration: none;
                padding: 1rem;
                padding-bottom: 0.2rem;
                display: block;
                border-bottom: 3px solid colors.$whitePanel;
                transition: 0.2s ease;
                &:hover {
                        border-bottom: 3px solid colors.$yellowBtn;
                        color: colors.$blackText;
                }
            }
        }
        .nav-languages {
            display: none;
        }
    }
    .nav-links.active {
        display: flex;
    }
    
    .bar1.active-bar-one{
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .bar2.active-bar-two{
        opacity: 0;
    }
    .bar3.active-bar-three{
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
    }
    .toggle-btn {
        position: absolute;
        top: 2rem;
        right: 3rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        .bar {
            height: 3px;
            width: 100%;
            background-color: colors.$blackText;
            border-radius: 10px;
            transition: all 0.4s ease-in-out;
        }
    }
}
.nav-border {
    width: 100%;
    margin-top: -7%;
    position: absolute;
    z-index: 2;
}
//Media for navbar
@include mixins.tab {
    nav {
        flex-direction: column;
        align-items: flex-start;
        .toggle-btn {
            display: flex;
        }
        .nav-links {
            display: none;
            width: 100%;
            ul {
                width: 100%;
                flex-direction: column;
                li {
                    text-align: center;
                    padding: 0.9rem;
                    display: flex;
                    justify-content: center;
                }
            }
            .nav-languages {
                display: flex;
                gap: 2em;
                .lang-active {
                    border-bottom: 3px solid colors.$yellowBtn;
                }
            }
           .lv-lang {
               display: none;
           } 
        }
    }
} 

